# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*                    @PHS-TSA/webmaster

*.js                 @Ash-Greninja101 
*.ts                 @Ash-Greninja101 @lishaduck
/docs/               @lishaduck @PHS-TSA/webmaster
/.github/            @lishaduck
/src/                @Ash-Greninja101 @lishaduck @NolanBallard5
/public/             @lishaduck
/.all-contributorsrc @lishaduck
