# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*        @PHS-TSA/webmaster

*.js    pandeys01@student.psdr3.org #TODO: Switch to his username
*.ts    pandeys01@student.psdr3.org #TODO: Switch to his username
/docs/  @lishaduck
/.github/  @lishaduck
/src/ @lishaduck
/public/ pandeys01@student.psdr3.org @lishaduck @NolanBallard5 #TODO: Switch to his username
/.all-contributorsrc @lishaduck
