@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");

#background {
  background-image: linear-gradient(black, #005);
  opacity: 1;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: azure;
  overflow-y: scroll;
}

body {
  background-color: black;
  height: 100%;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

#start-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#start-btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#menu-btn {
  visibility: visible;
  border-radius: 4px;
  background-color: inherit;
  right: 0;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  z-index: 3;
  animation: fadein 2s;
  position: absolute;
  padding-right: 25px;
}

#menu-btn:hover {
  background-color: rgb(40 40 40 / 70%);
}

#menu-btn:hover span::after {
  opacity: 1;
  background-color: rgb(44 44 45 / 100%);
}

#menu-btn span {
  opacity: 1;
}

#v-pills-tab {
  top: 75px;
  right: 0;
  display: none;
  position: absolute;
  /* width: fit-content; */
  text-align: left;
  background-color: inherit;
}

#menu {
  visibility: hidden;
  position: relative;
  float: right;
  width: 20%;
  height: 100%;
  top: 0;
  z-index: 2;
  background-color: rgb(44 44 45 / 0%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.underlined {
  text-decoration: underline;
}

.no-italics {
  font-style: normal;
}

#intro {
  z-index: 4;
  position: relative;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  width: 98%;
}
#home-btn {
  position: relative;
  margin: 1%;
}
#home-btn:hover {
  background-color: black;
  border: thin solid;
  border-radius: 1rem;
}
#packages-container {
  width: 100%;
  height: auto;
  margin-left: 3%;
  /* align-items: flex-start;  */
  display: flex;
}
.card {
  background-color: transparent;
  border-color: azure;
  margin: 1rem;
  /* justify-content: center; */
  width: auto;
}

hr {
  height: 1rem;
}
img {
  height: 15rem;
  width: auto;
}
.trip-container {
  width: 90%;
  height: fit-content;
  border-color: white;
  border: thin solid;
  margin: 2%;
  background-color: black;
  text-align: center;
}
.trip-img {
  width: 90%;
  height: auto;
  margin: 2%;
}
.shuttle-info-container {
  width: 90%;
  height: fit-content;
  border-color: white;
  border: thin solid;
  margin: 2%;
  background-color: black;
  text-align: center;
}
.shuttle-img {
  width: 50%;
  height: auto;
  margin: 2%;
}
h2 {
  margin: 2%;
}
.training-container p {
  margin: 2%;
}
