// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

$black: #000000;
$white: #ffffff;

#background {
  background-image: linear-gradient($black, #005);
  opacity: 0.9;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#icons {
  font-family: bootstrap-icons;
}

body {
  background-color: $black;
  height: 100%;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  margin: zero;
  color: $black;
  font-size: 1em;
  min-height: 100vh;
  white-space: pre-wrap;
  line-height: 1.35em;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }
}

#start-btn {
  -webkit-backdrop-filter: blur(0.625em);
  backdrop-filter: blur(0.625em);

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  span::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
}

#menu-btn {
  visibility: visible;
  border-radius: 4px;
  background-color: inherit;
  right: 0;
  border: none;
  color: $white;
  text-align: center;
  font-size: 32px;

  /* padding: 5px; */
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%;
  z-index: 3;
  animation: fadein 2s;
  position: absolute;
  padding-right: 25px;

  span {
    opacity: 1;
  }
}

#menu-btn:hover {
  background-color: rgb(40 40 40 / 70%);

  span::after {
    opacity: 1;

    /* right: 0; */
    background-color: rgb(44 44 45 / 100%);
  }
}

[class^="v-pills"] {
  // top: 0;
  z-index: 3;
  top: 75px;
  right: 0;
  display: none;
  position: absolute;
  width: fit-content;
  text-align: left;
  background-color: inherit;
}

#menu {
  visibility: hidden;
  position: relative;
  float: right;
  width: 20%;
  height: 100%;
  top: 0;
  z-index: 2;
  background-color: rgb(44 44 45 / 0%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.underlined {
  text-decoration: underline;
}

.no-italics {
  font-style: normal;
}

#intro {
  z-index: 3;
  color: $white;
  position: relative;
}
